{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mad Lib Template 1</title>
    <link rel="stylesheet" href="{% static 'madlib_app/style.css' %}">
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
        }
    </style>
</head>
<body>
<h1><a href="{% url 'madlib_form' %}" class="btn btn-primary">Go Back To Generate New Mad Lib</a></h1>
    <h1>Mad Lib 4</h1>
    <p>"Once upon a time, a {{ madlib.adjective }} {{ madlib.noun }} named {{ madlib.name }} decided to go {{ madlib.verb }} in the {{ madlib.place }}. It was a {{ madlib.adjective }} day, and {{ madlib.name }} felt {{ madlib.adjective }} as {{ madlib.pronoun }} explored the {{ madlib.place }}."</p>

</body>
</html>
